@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@500&family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@500&family=Rubik+Maze&display=swap');

:root{
    --outfit: 'Outfit';
    --rubik-maze: 'Rubik Maze';
    --montserrat: "Montserrat";
    --ita-accent-color: #1900FF;
}